 <div class="layui-row layui-admin lay-admin-up">
  <div class="layui-col-md5">
 <form class="layui-form" >
  <div class="layui-form-item">
    <label class="layui-form-label">用户名</label>
    <div class="layui-input-inline">
      <input type="text" id='username' name=" username" required  lay-verify="required|username" placeholder="请输入用户名" autocomplete="off" class="layui-input"></input>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">密码</label>
    <div class="layui-input-inline" >
      <input type="password" id='password' name="password" required lay-verify="required|password" placeholder="请输入密码" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">确认密码</label>
    <div class="layui-input-inline">
      <input type="password" id='repassword' name="repassword" required lay-verify="required|repassword" placeholder="请再次输入密码" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">昵称</label>
    <div class="layui-input-block">
      <input type="text" id='name'  name="name" required  lay-verify="required|name" placeholder="请输入昵称" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">联系方式(tel)</label>
    <div class="layui-input-block">
      <input type="text" id='tel'  name="tel" required  lay-verify="required|phone" placeholder="请输入电话" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">权限</label>
    <div class="layui-input-block">
      <input type="radio" name="role" value="1" title="超级管理员">
      <input type="radio" name="role" value="0" title="普通管理员" checked>
    </div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="addUser">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
</div>
</div>

<script>
/*
表单验证实现思路
先 blur验证，同时改变flag，最后表单验证不用重复blur代码只用查看flag即可.
*/
var usernameRight = 0;
var nameRight = 0;
var samePassWord = 0;

layui.use('form', function(){
  var form = layui.form;
  var $ = layui.jquery;
  var layer = layui.layer;
  form.render();
  //表单验证
  form.verify({
  username:function(value)
  {
     if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){
      return '用户名不能有特殊字符';
    }
    if(/(^\_)|(\__)|(\_+$)/.test(value)){
      return '用户名首尾不能出现下划线\'_\'';
    }
    if(/^\d+\d+\d$/.test(value)){
      return '用户名不能全为数字';
    }
    //alert(usernameRight);
    if(usernameRight == 0)
      return '用户名重复！';
  },
  name:function()
  {
    if(nameRight == 0)
      return '昵称重复！';
  },
  repassword:function()
  {
    //alert(usernameRight);
    if(samePassWord == 0)
      return '两次输入密码不一致';
  },
  password:function(value)
  {
    //alert(usernameRight);
     if(/^[\S]{6,12}$/.test(value))
     {

     }
     else
         return '密码长度必须在6,12位且不能有空格';

  }
  });
  $('#username').blur(function(){
  var name = $(this).val();
  if(name == '')
    return;
  //alert(name);
  $.ajax({
  url:'?c=User&a=checkUserName',
  type:'post',
  dataType:'text',
  //  json形式的kv
  //   v=$_POST['k']
  data:{name: name},
 success:function(data){
    //alert(data);
    if (data == 1) {
        usernameRight = 1;
        layer.msg('当前用户名可以使用!',{icon:1});
    } else {
        usernameRight = 0;
        layer.msg('当前用户名已被占用!',{icon:2});
    }
    //alert(usernameRight);
   }
  });

});
$('#name').blur(function(){
  var name = $(this).val();
  if(name == '')
    return;
  //alert(name);
  $.ajax({
  url:'?c=User&a=checkName',
  type:'post',
  dataType:'text',
  //  json形式的kv
  //   v=$_POST['k']
  data:{name: name},
 success:function(data){
    if (data == 1) {
        nameRight = 1;
        layer.msg('当前昵称可以使用!',{icon:1});
    } else {
        nameRight = 0;
        layer.msg('当前昵称已被占用!',{icon:2});
    }
   }
 });//end ajax
});

 //验证 两次密码是否一致
 $('#repassword').blur(function() {
         if($('#password').val() != $('#repassword').val()){
            samePassWord = 0;
             layer.msg('两次输入密码不一致!',{icon:2});
         }else {
            samePassWord = 1;
         };
 });

  //监听提交
  form.on('submit(addUser)', function(data){
    a = JSON.stringify(data.field);
    //layer.msg(a);
    $.ajax({
    url:'?c=User&a=addUser',
    type:'post',
    dataType:'text',// 数据返回的类型
    data:{userRegInfo:a},
    success:function(retInfo){
      console.log(retInfo);
      if(retInfo == 1)
        layer.msg('增加用户成功,一秒后返回首页',{icon:1});
        window.setTimeout("javascript:location.href='?'", 1000);
      else
        layer.msg('增加用户失败',{icon:2});
    },
   });//end ajax
    return  false;
  });
});
</script>
