<table class="layui-table" lay-filter="userTable">
        <colgroup>
        </colgroup>
        <thead>
        <tr>
            <th lay-data="{field:'id',sort:true}">id</th>
            <th lay-data="{field:'username'}">用户名</th>
            <th lay-data="{field:'name'}">昵称</th>
            <th lay-data="{field:'tel'}">电话</th>
            <th lay-data="{field:'last_login_ip'}">最后登录ip地址</th>
            <th lay-data="{field:'last_login_time'}">最后登录时间</th>
            <th lay-data="{field:'status'}">账户状态</th>
            <th lay-data="{field:'role'}">管理权限</th>
            <th lay-data="{field:'addate'}">注册时间</th>
            <th lay-data="{field:'operator'}">操作</th>
        </tr>
        </thead>
        <tbody>
        <{foreach $arrs as $arr}>
        <tr>
            <td><{$arr.id}></td>
            <td><{$arr.username}></td>
            <td><{$arr.name}></td>
            <td><{$arr.tel}></td>
            <td><{$arr.last_login_ip}></td>
            <td><{$arr.last_login_time}></td>
            <td>
                <{if $arr.status}>正常<{else}>封禁<{/if}>
            </td>
            <td>
                <{if $arr.role}> <font color = "#FF5722">超级管理员</font> <{else}> 普通管理员 <{/if}>
            </td>
            <td><{$arr.addate}></td>
            <td>
                <div class="layui-btn-group">
                    <button class="layui-btn layui-btn-primary layui-btn-sm">
                        <i class="layui-icon">&#xe642;</i>
                    </button>
                    <button class="layui-btn layui-btn-primary layui-btn-sm" onclick="deleteUser(<{$arr.id}>)"  >
                        <i class="layui-icon">&#xe640;</i>
                    </button>
                </div>
            </td>
        </tr>
        <{/foreach}>
        </tbody>
</table>
<script src="/毕设/Public/jquery.min.js"></script>
<script type="text/javascript">
layui.use('table', function(){

var table = layui.table;
//转换静态表格
  table.init('userTable', {
  height: 315 //设置高度
  ,limit: 10 //注意：请务必确保 limit 参数（默认：10）是与你服务端限定的数据条数一致
  //支持所有基础参数
  });
});

</script>
<script>

  // ajax实现用户删除
  function deleteUser(id){
      var url = "?c=User&a=deleteUser&id="+id;
      layer.confirm('您确定要删除该用户吗?',{btn: ['确定', '取消'],title:"提示"}, function(){
          $.ajax({
              type: "GET",
              url: url,
              data: null  ,
              dataType: "text",
              async:false,
              success:function(data) {
                  if(data == 1){
                      layer.msg('删除成功,1秒后跳转到首页', {icon: 1});
                      window.setTimeout("javascript:location.href='?'", 1000);
                        return true;
                  }else{
                      layer.msg('删除失败', {icon: 2});
                  }
              }
          });
      });
  }
</script>
