<table id="userTable" lay-filter="test">

</table>
<script type="text/javascript">
layui.use('table', function(){
    var table= layui.table;
  table.render({
    elem: '#userTable'
    ,height: 312
    ,url: '?c=User&a=showUserTable' //数据接口
    ,page: true //开启分页
    ,cols: [[ //表头
      {field: 'id', title: 'ID', width:80, sort: true, fixed: 'left'}
      ,{field: 'username', title: '用户名', width:80}
      ,{field: 'name', title: '昵称', width:80, sort: true}
      ,{field: 'tel', title: '电话', width:80, sort: true}
      ,{field: 'last_login_ip', title: '最后登录ip', width:120, sort: true}
      ,{field: 'last_login_time', title: '最后登录时间', width:120, sort: true}
      ,{field: 'status', title: '状态', width:80, sort: true}
      ,{field: 'role', title: '权限', width:80, sort: true}
      ,{field: 'addate', title: '注册时间', width:100, sort: true}
    ]]
  });
});
</script>
