<blockquote class="layui-elem-quote">文章分类</blockquote>
<div class="layui-col-md12">
    <div class="layui-card">
        <div class="layui-card-header">
            这里是
            <i class="layui-icon" style="color: #FF5722;">&#xe756;</i>
        </div>
        <div class="layui-card-body layui-text ">
            <p>不知道写什么</p>
        </div>
    </div>
</div>
<form class="layui-form layui-row" action="">
    <div class="layui-form-item layui-col-md4 ">
        <label class="layui-form-label">分类名</label>
        <div class="layui-input-block">
            <input type="text" name="classname" required  lay-verify="required" placeholder="分类" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-col-md4">
        <label class="layui-form-label">排序(数值越低权重越高)</label>
        <div class="layui-input-block">
            <input type="text" name="orderby" required  lay-verify="required"  value ="50" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-col-md4">
        <label class="layui-form-label">选择父分类</label>
        <div class="layui-input-block">
            <select  class = "layui-select-tips"name="pid" lay-verify="required">
                <option value="0">新分类</option>
                <{foreach $categorys as $category}>
                <option value="<{$category.id}>"><{if $category.level > 0}><!--html 只显示全角空格  --><{str_repeat("　",$category.level*1)}>|_ <{$category.classname}> <{else}> <{$category.classname}> <{/if}></option>
                <{/foreach}>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formAdd">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
    </div>
</form>

<script>
    //Demo
    layui.use(['form','jquery'], function(){
    var form = layui.form;
    form.render();
    var  $ = layui.jquery;
    form.on('submit(formAdd)', function(data){
      /*注意将数据打包为Json格式*/
    Msg = JSON.stringify(data.field);
    //layer.msg(Msg);
    $.ajax({
    url:'?c=Category&a=insertCategory',
    type:'post',
    dataType:'text',// 数据返回的类型
    data:{data:Msg},
    success:function(retInfo){
      console.log(retInfo);
      if(retInfo == 1)
      {
        layer.msg('增加分类,一秒后返回首页',{icon:1});
        window.setTimeout("javascript:location.href='?'", 1000);
      }
      else
      {
        layer.msg('分类失败',{icon:2});
      }
    },
   });//end ajax
    return  false;
  });
});
</script>