 
 
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Fly Template v3.0，基于 layui 的极简社区页面模版</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <link rel="stylesheet" href="./Public/Home/Fly/layui/css/layui.css">
  <link rel="stylesheet" href="./Public/Home/Fly/css/global.css">
</head>
<body>
<div id="header"></div>
<div id="panel"></div>

<div class="layui-container">

  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8 content detail">
      <div class="fly-panel detail-box">
          <!--title-->
        <h1><{$detail.title}></h1>
        <div class="fly-detail-info">
           <!--<span class="layui-badge">审核中</span>-->
          <span class="layui-badge layui-bg-green fly-detail-column">动态</span>
          
          <!--<span class="layui-badge" style="background-color: #999;">未结</span>-->
           <span class="layui-badge" style="background-color: #5FB878;">已结</span>
          
          <span class="layui-badge layui-bg-black">置顶</span>
          <span class="layui-badge layui-bg-red">精帖</span>
          
          <div class="fly-admin-box" data-id="123">
            <span class="layui-btn layui-btn-xs jie-admin" type="del">删除</span>
            
            <span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="1">置顶</span> 
            <!-- <span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="0" style="background-color:#ccc;">取消置顶</span> -->
            
            <span class="layui-btn layui-btn-xs jie-admin" type="set" field="status" rank="1">加精</span> 
            <!-- <span class="layui-btn layui-btn-xs jie-admin" type="set" field="status" rank="0" style="background-color:#ccc;">取消加精</span> -->
          </div>
          <span class="fly-list-nums"> 
            <a href="#comment"><i class="iconfont" title="回复">&#xe60c;</i> <{$detail.comment_count}></a>

            <!-- 浏览量先默认加一-->
            <i class="iconfont" title="点击数">&#xe60b;</i> <{$detail.read_count}>
          </span>
        </div>

          <!--用户info -->
        <div class="detail-about">
          <a class="fly-avatar" href="?c=User&user_id=<{$detail.user_id}>">
            <img src="<{$detail.img}>" alt="<{$detail.username}>">
          </a>
          <div class="fly-detail-user">
            <a href="?c=User&user_id=<{$detail.user_id}>" class="fly-link">
              <cite><{$detail.username}></cite>
              <!-- 判断是否有认证信息-->
              <{if $detail.confirm eq null}>
              <{else}>
              <i class="iconfont icon-renzheng" title="<{$detail.confirm}>"></i>
              <{/if}>

              <i class="layui-badge fly-badge-vip">VIP1</i>

            </a>
            <span><{$detail.addate}></span>
          </div>
            <!--编辑功能帖子-->
          <!--<div class="detail-hits" id="LAY_jieAdmin" data-id="123">-->
            <!--<span class="layui-btn layui-btn-xs jie-admin" type="edit"><a href="add.html">编辑此贴</a></span>-->
          <!--</div>-->
        </div>
        <div class="detail-body photos">
          <{$detail.content}>
        </div>
      </div>

      <div class="fly-panel detail-box" id="flyReply">
        <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
          <legend>回帖</legend>
        </fieldset>

      <!--回复的帖子-->
        <{if $replys eq null}>
        <!-- 无数据时 -->
        <li class="fly-none">消灭零回复</li>
        <{else}>
        <ul  id = "reply" class="jieda" id="jieda">
          <{foreach $replys as $reply }>
          <li data-id="111" class="jieda-daan">
            <a name="item-1111111111"></a>
            <div class="detail-about detail-about-reply">
              <a class="fly-avatar" href="<{$reply.user_id}>">
                <img src="<{$reply.img}>" alt="<{$reply.username}> ">
              </a>
              <div class="fly-detail-user">
                <a href="" class="fly-link">
                  <cite><{$reply.username}></cite>
                  <{if $reply.confirm eq null}>
                  <{else}>
                  <i class="iconfont icon-renzheng" title="<{$detail.confirm}>"></i>
                  <{/if}>
                  <i class="layui-badge fly-badge-vip">VIP1</i>
                </a>

                <{if $reply.user_id eq $detail.user_id}>
                <span>(楼主)</span>
                <{else}>
                <{/if}>

                <!--
                <span style="color:#5FB878">(管理员)</span>
                <span style="color:#FF9E3F">（社区之光）</span>
                <span style="color:#999">（该号已被封）</span>
                -->
              </div>

              <div class="detail-hits">
                <span><{$reply.addate}></span>
              </div>
              <!--<i class="iconfont icon-caina" title="最佳答案"></i>-->
            </div>
            <div class="detail-body jieda-body photos">
                <div class="layui-col-lg-offset1">
                  <{$reply.content}>
                </div>
            </div>
            <div class="jieda-reply">
              <span class="jieda-zan zanok" type="zan">
                  <{$reply.cur_floor}>楼
                <!--<i class="iconfont icon-zan"></i>-->
                <!--<em><{$reply.praise}></em>-->
              </span>
              <span  type="reply">
                <i class="iconfont icon-svgmoban53" onclick="replyFloor(<{$reply.cur_floor}>,'<{$reply.username}>')"></i>
                  回复
              </span>
              <{if  isset($smarty.session.user) && ($smarty.session.user.uid == $reply.user_id) }>
              <div class="jieda-admin">
                <!--<span type="edit">编辑(todo)</span>-->
                <span type="del" onclick=" delReply(<{$reply.id}>)">删除</span>
              </div>
              <{else}>
              <{/if}>
            </div>
          </li>
          <{/foreach}>
          <{/if}>
        </ul>

         <!--没有登录不显示回复功能-->
         <{if !isset($smarty.session.user)}>
              <div class="layui-elem-quote">
                回复请先登录
                <a class="layui-btn layui-col-lg-offset6" href="?c=User&a=login">立即登录</a>
                <a class="layui-btn layui-col-lg-offset6" href="?c=User&a=reg">立即注册</a>
              </div>
            <{else}>

          <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item layui-form-text" id="replyArea">
              <div class="layui-input-block">
            <textarea id="content" name="content" lay-verify="" placeholder="请输入内容"  class="layui-textarea fly-editor" style="height: 150px;">
            </textarea>
              </div>
            </div>
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="articleAdd">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
              </div>
            </div>
            </form>
        <{/if}>
      </div>
    </div>
      <!--右侧栏-->
    <div class="layui-col-md4">
      <dl class="fly-panel fly-list-one">
        <dt class="fly-panel-title">本周热议</dt>
        <dd>
          <a href="">基于 layui 的极简社区页面模版</a>
          <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>

        <!-- 无数据时 -->
        <!--
        <div class="fly-none">没有相关数据</div>
        -->
      </dl>

      <div class="fly-panel">
        <div class="fly-panel-title">
          这里可作为广告区域
        </div>
        <div class="fly-panel-main">
          <a href="http://layim.layui.com/?from=fly" target="_blank" class="fly-zanzhu" time-limit="2017.09.25-2099.01.01" style="background-color: #5FB878;">LayIM 3.0 - layui 旗舰之作</a>
        </div>
      </div>

      <div class="fly-panel" style="padding: 20px 0; text-align: center;">
        <img src="../../res/images/weixin.jpg" style="max-width: 100%;" alt="layui">
        <p style="position: relative; color: #666;">微信扫码关注 layui 公众号</p>
      </div>

    </div>
  </div>
</div>
<div id="footer"></div>

<script src="./Public/Home/Fly/layui/layui.js"></script>
<script src="./Public/jquery.min.js"></script>
<script>
 $("#header").load("?c=Article&a=showHeader");
 $("#panel").load("?c=Article&a=showColumn");
 $("#footer").load("?c=Article&a=showFooter");
 //$("#replay").load("?c=Article&a=replay&article_id=<{$detail.id}>")
</script>
<script>
 function delReply(id)
 {

      var aid = <{$detail.id}>;
      var rid = id;
     var info = {"reply_id":rid,"article_id":aid};
     var msg = JSON.stringify(info);
     $.ajax({
         url:'index.php?c=Article&a=deleteReply',
         type:'post',
         dataType:'text',// 数据返回的类型
         data:{data:msg},
         success:function(retInfo){
             console.log(retInfo);
             if(retInfo == 0)
             {
                 layer.msg("删除回复失败,请重试");
             }else if(retInfo == 1)
             {
                 layer.msg("删除回复成功",{icon:6});
                 window.setTimeout("javascript:location.href=location.search", 1000);
             }
         }//end success
     });//end ajax
 }
</script>
<script>
  //外部函数需要调用内部函数 方法
  var replyFloor;
    layui.use(['form','layedit','jquery','element'],function()
    {
        var form = layui.form;
        var $ = layui.jquery;
        var layedit=layui.layedit;
        var element=layui.element;
        form.render();
        layedit.set({
            uploadImage: {
                url: 'index.php?c=Article&a=uploadImg' //接口url
                ,type: 'post' //默认post
            }
        });

        var index = layedit.build('content',{
            height:200
        });
        function rf(rid,uname)
        {

            window.location="#replyArea";
            var replyFloorHead = "<b><i>回复"+rid+"楼"+uname+':</i></b>';
            layedit.setContent(index,replyFloorHead);
        }
        replyFloor=rf;

        form.on('submit(articleAdd)',function(data)
        {
            //富文本编辑器内容用getContent才能获取到
            var text = layedit.getContent(index);
            data.field.content=text;
            data.field.article_id=<{$detail.id}>;
            data.field.user_id=<{$smarty.session.user.uid}>;

            //莫名其妙多出来一个属性file,删除之
            if(data.field.file !== undefined)
            {
                delete data.field.file;
            }
            //将json对象打包成字符串发送
            var Msg = JSON.stringify(data.field);

            $.ajax({
                url:'index.php?c=Article&a=reply',
                type:'post',
                dataType:'text',// 数据返回的类型
                data:{data:Msg},
                success:function(retInfo){
                  console.log(retInfo) ;
                 if(retInfo == 0)
                 {
                     layer.msg("回复失败,请重试");
                 }else if(retInfo == 1)
                 {
                     layer.msg("回复成功",{icon:6});
                     window.setTimeout("javascript:location.href=location.search", 1000);
                 }
                }//end success
            });//end ajax
            //console.log(data.field);
            return false;
        });

    });

</script>

<script>
    layui.cache.page = '';
    layui.cache.user = {
        username: '游客'
        ,uid: -1
        ,avatar: './Public/Home/Fly/images/avatar/00.jpg'
        ,experience: 83
        ,sex: '男'
    };
</script>

</body>
</html>