
<div class="fly-panel-title fly-filter">

  <a href="javascript:showContent(<{$fatherId}>)" class="layui-this">首页</a>
  <{foreach $sonCategorys as $category}>
  <a href="javascript:showContent(<{$category.id}>)" class="layui-this"><{$category.classname}></a>
  <span class="fly-mid"></span>
  <{/foreach}>
  <span class="fly-filter-right layui-hide-xs">
    <a href="" class="layui-this">按最新</a>
    <span class="fly-mid"></span>
    <a href="">按热议</a>
  </span>
</div>
<script>
function showContent(id)
{
    console.log("son: "+id);
    $("#content").load("?a=showContent&cate="+id);
    $("#laypage").load("?a=showLaypage&cate="+id)

}
</script>