<div class="layui-row">
    <div class="layui-card">
        <div class="layui-card-header">
            文章列表
            <i class="layui-icon" style="color: #FF5722;">&#xe756;</i>
        </div>
    </div>
</div>
<div class="layui-row">
    <form class="layui-form layui-col-lg-offset3">
        文章搜索：
        <div class="layui-input-inline">
            <select name="classname" lay-filter="classname">
                 <!--option必须一行 ,否则内容会偏移-->
                <option value = -1>请选择分类</option>
                <{foreach $categorys as $category}>
                <option value="<{$category.id}>"><{if $category.level > 0}><!--html 只显示全角空格  --><{str_repeat("　　",$category.level*1)}><{$category.classname}> <{else}> <{$category.classname}> <{/if}></option>
                <{/foreach}>
            </select>
        </div>
        <div class="layui-inline">
            <input type="text" name="keyword" placeholder="请输入关键字" autocomplete="off" class="layui-input">
        </div>
        <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
    </form>
    <table class="layui-table"  lay-filter="articleTable">
        <thead>
        <tr>
            <th lay-data="{field:'id',sort:true}">id</th>
            <th lay-data="{field:'classname',sort:true}">分类</th>
            <th lay-data="{field:'title'}">标题</th>
            <th lay-data="{field:'content'}">内容</th>
            <th lay-data="{field:'author'}">作者</th>
            <th lay-data="{field:'top'}">置顶</th>
            <th lay-data="{field:'operator'}">操作</th>
        </tr>
        <tbody>
        <{foreach $articles as $article }>
        <tr>
            <td><{$article.id}></td>
            <td><{$article.classname}></td>
            <td><{$article.title}></td>
            <td>
                <{$article.content}>
            </td>
            <td><{$article.name}></td>
            <td>
                <input type="checkbox"  lay-filter="top" name="switch" lay-skin="switch" value="1" >
            </td>
            <td>
                <div class="layui-btn-group">
                    <button class="layui-btn layui-btn-primary layui-btn-sm" onclick="editArticle(<{$article.id}>)">
                        <i class="layui-icon">&#xe642;</i>
                    </button>
                    <button class="layui-btn layui-btn-primary layui-btn-sm" onclick="deleteArticle(<{$article.id}>)">
                        <i class="layui-icon">&#xe640;</i>
                    </button>
                </div>
            </td>
        </tr>
        <{/foreach}>
        </tbody>
        </thead>

    </table>
</div>
<script src="/毕设/Public/jquery.min.js"></script>
<script>
    function editArticle(id)
    {

    }
    function deleteArticle(id)
    {
        var url = "?c=Article&a=delArticle";
        layer.confirm('您确定要删除该文章吗?',{btn: ['确定', '取消'],title:"提示"}, function(){
            $.ajax({
                type: "POST",
                url: url,
                data: {id:id},
                dataType: "text",
                async:false,
                success:function(data) {
                    if(data == 1){
                        layer.msg('删除成功,1秒后跳转到首页', {icon: 1});
                        window.setTimeout("javascript:location.href='?'", 1000);
                        return true;
                    }else{
                        layer.msg('删除失败', {icon: 2});
                    }
                }
            });
        });
    }
    layui.use(['form','jquery','table'],function()
    {
      var form = layui.form;
      var $ = layui.jquery;
      var table = layui.table;
      table.init('articleTable', {
          height: 315 //设置高度
          ,limit: 10 //注意：请务必确保 limit 参数（默认：10）是与你服务端限定的数据条数一致
          //支持所有基础参数
      });
        form.render();
        table.render();

        form.on('select(classname)',function(data)
        {
            var val = data.value;
            $.ajax({
                url:'admin.php?c=Article&a=selectClass',
                type:'post',
                dataType:'text',// 数据返回的类型
                data:{val:val},
                success:function (data) {
                    console.log(data);
                }
            });//end ajax
        });

    });
</script>