<div class="layui-row">
    <div class="layui-card">
        <div class="layui-card-header">
            文章列表
            <i class="layui-icon" style="color: #FF5722;">&#xe756;</i>
        </div>
    </div>
</div>
<div class="layui-row">
    <form class="layui-form layui-col-lg-offset3">
        文章搜索：
        <div class="layui-input-inline">
            <select name="classname" lay-filter="classname">
                 <!--option必须一行 ,否则内容会偏移-->
                <option value = 0>请选择分类</option>
                <{foreach $categorys as $category}>
                <option value="<{$category.id}>"><{if $category.level > 0}><!--html 只显示全角空格  --><{str_repeat("　　",$category.level*1)}><{$category.classname}> <{else}> <{$category.classname}> <{/if}></option>
                <{/foreach}>
            </select>
        </div>
        <div class="layui-inline">
            <input type="text" name="keyword" placeholder="请输入标题关键字" autocomplete="off" class="layui-input">
        </div>
        <button class="layui-btn" lay-submit lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
    </form>
    <table id="articleTable" class="layui-table"  lay-filter="articleTable">
    </table>
</div>
<script src="/毕设/Public/jquery.min.js"></script>

<!--表格的工具条-->
<script type="text/html" id="tableBar">
    <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
    <button class="layui-btn layui-btn-sm" lay-event="edit">编辑</button>
</script>
<script type="text/html" id="top">

</script>

<script>
    var articleTable;
    var selectForm;
    var options = {
        elem:'#articleTable',
        page:true,
        limit:10,
        //变换url的名字
        // 将limitName变为pageSize
        request:{
            'limitName':'pageSize'
        },
        url: 'admin.php?c=Article&a=showTable',
        cols:[[
            {field:'id',title:'文章ID',sort:true}
            ,{field:'classname',title:'文章类别',sort:true}
            ,{field:'title',title:'文章标题'}
            ,{field:'content',title:'文章内容',}
            ,{field:'author',title:'文章作者',}
            ,{field:'addate',title:'添加时间',}
            //toolbar
            ,{field:'operator',title:'操作',toolbar:"#tableBar"}
        ]]
        // parseData:function(res){
        //     return {
        //         code:res.stauts=='successs'?1:0,
        //         msg:res.stauts,
        //         count:count,
        //         data:res.articleList
        //
        //     }
        // }
    }
    layui.use('table',function()
    {
        var table = layui.table;
        articleTable=table.render(options);
        //新增的监听工具栏事件 layui2.4
        table.on('tool(articleTable)',function(obj){
            console.log(obj);
            if(obj.event=== 'delete')
            {
                layer.confirm(
                    '您确定要删除该文章['+obj.data.title+']吗?',{
                    title:'删除文章'
                    ,btn:['确认','取消']
                },function(index){
                    $.ajax({
                        type: "POST",
                        url: "admin.php?c=Article&a=delArticle",
                        data: {id:obj.data.id},
                        dataType: "text",
                        async:false,
                        success:function(data){
                            console.log(data);
                            if(data == 1){
                                layer.msg('删除成功',{icon: 1});
                            }else{
                                layer.msg('删除失败', {icon: 2});
                            }
                        }
                        }).then(function(){
                        layer.close(index);
                        articleTable.reload({
                            page:{
                                cur:1
                            }
                        })
                    })
                })
            }else if(obj.event== 'edit') {
                layer.msg("您点击了修改按钮");
            }
        });
    })
    layui.use('form',function()
    {
        var form = layui.form;
        selectForm = form.render();
        form.on('select(classname)',function(data){
            console.log(data.value);
            articleTable.reload({
                url:"admin.php?c=Article&a=showTable"
                ,where:{
                    classid: data.value,
                }
                ,page:{
                    cur:1
                }
            })
        })
        form.on('submit(search)',function(data){
            console.log(data.field);
            articleTable.reload({
                url:"admin.php?c=Article&a=showTable"
                ,where:{
                    classid: data.field.classname
                    ,keyword: data.field.keyword
                }
                ,page:{
                    cur:1
                }
            })
            return false;
        })
    })


</script>