
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>登入</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <link rel="stylesheet" href="./Public/Home/Fly/layui/css/layui.css">
  <link rel="stylesheet" href="./Public/Home/Fly/css/global.css">
</head>
<body>

<div id = "header"></div>
<div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li class="layui-this">登入</li>
        <li><a href="?c=User&a=reg">注册</a></li>
      </ul>
      <div class="layui-form layui-tab-content" lay-filter="login" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
            <form method="post">
              <div class="layui-form-item">
                <label  class="layui-form-label">账号</label>
                <div class="layui-input-inline">
                  <input type="text"  name="username" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="L_pass" name="password" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_vercode" class="layui-form-label">验证码</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_vercode" name="vercode" lay-verify="" placeholder="请输入验证码" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid ">
                  <span style="color: #c00;"> <img src="./Public/img/code.jpg"  height="40"  ></span>
                </div>
              </div>
              <div class="layui-form-item">
                <button class="layui-btn" lay-filter="login" lay-submit>立即登录</button>
                <span style="padding-left:20px;">
                  <a href="javascript:layer.msg('那就忘了吧 ^ ^',{icon:6})">忘记密码？</a>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer"></div>

<script src="./Public/Home/Fly/layui/layui.js"></script>
<script src="./Public/jquery.min.js"></script>
<script>
    $("#header").load("?c=User&a=showHeader");

    layui.use(['form','layer'],function(){
        var layer = layui.layer;
        var form = layui.form;
        var $ = layui.$;
        layui.form.render();
        form.verify({
            checkLogin:function(value)
            {
                if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){
                    return '用户名或密码不能有特殊字符';
                }
                if(/(^\_)|(\__)|(\_+$)/.test(value)){
                    return '用户名或密码首尾不能出现下划线\'_\'';
                }
                //if(/^\d+\d+\d$/.test(value)){
                //    return '用户名或密码不能全为数字';
                //}
            }
        });

        form.on('submit(login)',function(data){
            delete data.field.vercode;
            userMsg = JSON.stringify(data.field);
            //layer.msg(userMsg);
            $.ajax({
                //此处的palt p参数不指定 pca就是  admin?c=User&a=Login?c=User&a=checkLoign
                //所以得指定为admin.php
                url:"index.php?c=User&a=checkLogin",
                type:"post",
                dataType:"json",
                data:{loginMsg:userMsg},
                success:function(data)
                {
                    //要使用json 回带 登录成功后的昵称
                    //data = JSON.stringify(data);
                    console.log(data);
                    if(data.flag=="-1")
                    {
                        layer.msg('您已登录，不能重复登录',{icon:2});
                    }
                    else if (data.flag =="0")
                    {
                        layer.msg('您的登录信息有误',{icon:2});
                    }
                    else if(data.flag=="1")
                    {
                        layer.msg('登录成功！欢迎您, '+data.name+",即将返回登录前页面 ",{icon:6});
                        // 登录成功后回到跳转前的页面
                        window.setTimeout("javascript:location.href=document.referrer", 2000);
                    }
                }
            });
            return false;
        });
    });
layui.cache.page = 'user';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '../../res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
</script>

</body>
</html>
